.ethelia-symbiosis {
    color: #111 !important;
    text-shadow: 1px 1px #fff;
}

.ethelia-founder h1,
.ethelia-founder p {
    color: #fff !important;
    text-shadow: 1px 1px #000;
}

.top-navi {
    text-shadow: 1px 1px #000;
}

.svg-shadow {
  -webkit-filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
  filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
}

.sidebar {
    z-index: 15 !important;
}

.delimeter {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #555;
}

.sidebarShown .panel.bottom {
    display: none !important;
}

.subMenu, .mainMenu {
    margin-bottom: 0px !important;
}

.bg-share {
    background-color: #DDD !important;
}

.sign-in {
    font-size: 1.3em;
    margin-bottom: 2px;
}

.ethelia-founder-background-gradient {
    background: linear-gradient(133deg, rgba(51,0,46,1) 0%, rgba(20,3,24,1) 100%);
}

@media( min-width:110px) {
    .ethelia-slide-content h1 { font-size: 24pt !important; }
    .ethelia-slide-content p { font-size: 14pt !important; }
    .container { font-size: 12pt !important; }
    .top-navi { background-color: rgba(15, 15, 15, 0.8); }
    .stage-5 .top-navi { background-color: rgba(28, 28, 28, 0.65); }
    .ethelia-middle-layer { background-color: rgba(0, 0, 0, .8) !important; }
    .ethelia-idea { background-color: rgba(0, 0, 0, .55) !important; }
    .ethelia-concept { background-color: rgba(0, 0, 0, .25) !important; }
    .background-responsive { background-position: left !important; background-repeat: no-repeat; }
    .mobile-newline { display: inline-block; }
    .ethelia-symbiosis { background-color: rgba(255, 255, 255, 0.8) !important; }
    .ethelia-founder { background-color: rgba(0, 0, 0, 0.7) !important; }
    .ethelia-founder-background { background-position: calc(50% + 200px) center !important; }
}

@media( min-width:864px) {
    .mobile-newline { display: none; }
    .ethelia-founder-background { background-position: center center !important; }
    .ethelia-slide-content h1 { font-size: 26pt !important; }
    .ethelia-slide-content p { font-size: 18pt !important; }
}

@media( min-width:1024px) {
    .top-navi { background-color: rgba(15, 15, 15, 0.5); }
    .ethelia-middle-layer { background-color: rgba(0, 0, 0, .6) !important; }
    .ethelia-concept { background-color: rgba(0, 0, 0, .0) !important; }
    .ethelia-idea { background-color: rgba(0, 0, 0, .3) !important; }
    .background-responsive { background-position: center !important; }
    .ethelia-symbiosis { background-color: rgba(255, 255, 255, 0.4) !important; }
    .ethelia-founder-background-gradient { width: 100%; height: 100vh; }
}

@media( min-width:1300px) {
    .ethelia-founder { background-color: transparent !important; }
    .stage-5 .top-navi { background-color: rgba(15, 15, 15, 0.65); }
}
