body {
    margin: 0;
    padding: 0;
}
.ethelia-slidesdeck-body {
    background: linear-gradient(133deg, rgba(51,0,46,1) 0%, rgba(20,3,24,1) 100%);
    min-height: 100vh !important;
    width: 100% !important;
}

.ethelia-full-height {
    min-height: 100vh;
    width: 100%;
}

.container  {
    background: transparent !important;
}
